.header__lang-link {
    font-weight: 400;
    color: #FFFFFF;
    font-size: 24px;
    line-height: 28px;
    margin-right: 18px;
    text-decoration: none;
    transition: opacity 0.3s linear 0.2s;
}

.header__lang-link:hover {
    opacity: 0.8;
}

.header__lang-link:last-of-type {
    margin-right: 0;
}

@media screen and (max-width: 550px){
    .header__lang-link {
        font-size: 18px;
        line-height: 20px;
    }
}