.cover__link {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    text-decoration: none;
    background: rgba(42, 44, 47, 0.3);
    transition: opacity 0.3s linear 0.2s;
}

.cover__link:hover {
    background: rgba(42, 44, 47, 0.8);
}

