.cover {
    background-image: url(../../vendor/pictures/cover-trains.jpg);
    display: flex;
    font-family: 'Inter', Arial, sans-serif;
    font-weight: 400;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    max-width: 1184px;
    margin-top: 92px;
}

.cover::after {
    content: "";
    width: 0;
    height: 0;
    margin-left: -1px;
    padding-top: calc(740/1184*100%);
}

@media screen and (max-width: 850px) {
    .cover {
        margin-top: 90px;
    }
}